<div style="text-align:  center; background-color: blanchedalmond; color: black">
    <h1> Welcome {{name}} </h1>
</div>



<div class="container">
    <div class="row">
        <div class="col" style="background-color:aqua">

            <a routerLink="chat">
                <h1> Chat</h1>
            </a>
        </div>

        <div class="col" style="background-color:azure">
            <a routerLink="history">
                <h1> Previous Orders</h1>
            </a>
        </div>
    </div>
</div>